/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */

/* Again, "be nice to Opera 5". */

.error {
  color: #ff0033;
  font-size: 14px;
}

.custom-cart {
  font-size: 20px;
}

.small-custom-image {
  height: 150px;
}

.custom-card {
  height: 100%;
}

.custom-card-image-div {
  display: flex;
  justify-content: center;
  min-height: 100;
  width: 100%;
  overflow: hidden;
}

.custom-card-body {
  min-height: 200px;
  max-height: 200px;
  width: 100%;
  overflow: hidden;
}

.custom-card-container {
  margin-top: 15px;
}

.custom-card-image {
  height: 100px;
}

.custom-card-desc {
  min-height: 200px;
  max-height: 200px;
  width: 100%;
  overflow: hidden;
}

.custom-view-product-image {
  height: 350px;
}

.custom-view-product-image-div {
  justify-content: flex-end !important;
  border-right: lightgrey solid 0.5px;
}

.custom-view-product-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.custom-product-column {
  margin-bottom: 15px;
}

.custom-row-style {
  margin-top: 15px;
}

.custom-grid-button {
  margin-right: 8px;
}

.custom-back-button-div {
  padding-left: 12px;
}

.custom-back-button {
  font-size: 1.5rem !important;
}

.custom-notify-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.custom-notify-container-button {
  width: 10rem;
  height: 3.5rem;
}

.custom-range {
  height: 40px;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  /* For mobile phones: */
  .custom-view-product-image-div {
    justify-content: center !important;
    border-right: hidden;
    border-bottom: lightgrey solid 0.5px;
  }

  .custom-view-product-content {
    align-items: center;
  }
}
